{% extends 'layouts/blank.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<body>
     <!-- <script src="https://cdn.tailwindcss.com"></script> --> <!--SOLUCIONADO!!-->
      <!-- Contenedor Principal Formulario -->
       
    <div class="flex justify-center items-center min-h-screen mt-8 mb-8">
        <div class="w-full max-w-xl p-10 rounded-lg shadow-md" style="background-color: #e5e5f7;">
            <h1 class="text-3xl font-bold mb-6 text-center">Crear Nuevo Producto</h1>
            <form id="product-form" method="post" action="{% url 'create_product' %}" class="space-y-6 mb-4">
            {% csrf_token %}
            {{ product_form.as_p }}
            <button type="submit" name="product_submit" class="bg-blue-500 hover:bg-blue-700 text-#444cf7 font-bold py-2 px-4 rounded">Crear Producto</button>
            </form>

            <h2 class="text-2xl font-semibold mt-12 mb-6 text-center">Subir Nueva Imagen</h2>
            <form id="image-form" method="post" action="{% url 'upload_image' %}" enctype="multipart/form-data" class="space-y-6">
            {% csrf_token %}
            {{ image_form.as_p }}
            <button type="submit" name="image_submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Subir Imagen</button>
            </form>

            <h2 class="text-2xl font-semibold mt-12 mb-6 text-center">Lista de Productos</h2>
            <div id="product-list">
            <!-- Los productos se insertarán aquí -->
            </div>

            <div class="bg-green-50">aaa</div>
            
        </div>
    </div>

    <script>
        htmx.on("htmx:afterSwap", function(event) {
            if (event.detail.target.id == "product-list") {
                document.querySelector('#product-form').reset();
            } else if (event.detail.target.id == "id_image") {
                document.querySelector('#image-form').reset();
            }
        });
    </script>
</body>
{% block footer %}
<footer class="footer">
    <section class="footer__container container">
        <nav class="nav nav--footer">
            <h2 class="footer__title">Click & Go</h2>

            <ul class="nav__link nav__link--footer">
                <li class="nav__items">
                    <a href="#" class="nav__links">Inicio</a>
                </li>
                <li class="nav__items">
                    <a href="#" class="nav__links">Acerca de</a>
                </li>
                <li class="nav__items">
                    <a href="#" class="nav__links">Suscripciones</a>
                </li>
                <li class="nav__items">
                    <a href="#" class="nav__links">Contacto</a>
                </li>
            </ul>
        </nav>

        <form class="footer__form" action="https://formspree.io/f/mwpezkzn" method="POST">
            <h2 class="footer__newsletter">Únete a nuestra comunidad</h2>
            <div class="footer__inputs">
                <input type="email" placeholder="Email:" class="footer__input" name="email">
                <input type="submit" value="Registrate" class="footer__submit">
            </div>
        </form>
    </section>

    <section class="footer__copy container">
        <div class="footer__social">
            <a href="#" class="footer__icons"><img src="" class="footer__img"></a>
            <a href="#" class="footer__icons"><img src="" class="footer__img"></a>
            <a href="#" class="footer__icons"><img src="" class="footer__img"></a>
        </div>

        <h3 class="footer__copyright">Derechos reservados &copy; Click & Go</h3>
    </section>
</footer>
{% endblock %}
{% endblock content %}
