<body>
    <h1>Crear Nuevo Producto</h1>
    <form id="product-form" hx-post="{% url 'create_product' %}" hx-target="#product-list" hx-swap="beforeend">
        {% csrf_token %}
        {{ product_form.as_p }}
        <button type="submit" name="product_submit">Crear Producto</button>
    </form>

    <h2>Subir Nueva Imagen</h2>
    <form id="image-form" hx-post="{% url 'create_product' %}" hx-target="#id_image" hx-swap="beforeend" enctype="multipart/form-data">
        {% csrf_token %}
        {{ image_form.as_p }}
        <button type="submit" name="image_submit">Subir Imagen</button>
    </form>

    <h2>Lista de Productos</h2>
    <div id="product-list">
        <!-- Los productos se insertarán aquí -->
    </div>

    <script>
        htmx.on("htmx:afterSwap", function(event) {
            if (event.detail.target.id == "product-list") {
                document.querySelector('#product-form').reset();
            } else if (event.detail.target.id == "id_image") {
                document.querySelector('#image-form').reset();
            }
        });
    </script>
</body>
</html>