{% extends 'base.html' %}

{% block head_title %}Chat con {{other_user.user.username}} {% endblock %}

{% block extra_styles %}
<style>
    :root {
        --primary-color: #3498db; /* Azul claro */
        --primary-dark-color: #2980b9; /* Azul oscuro */
        --background-color: #f3f3f3; /* Fondo gris claro */
        --chat-bg-color: #FFFFFF; /* Blanco para el contenedor del chat */
        --chat-log-bg-color: #ecf0f1; /* Gris muy claro para el área de mensajes */
        --message-sent-bg-color: #d1e7fd; /* Azul muy claro para mensajes enviados */
        --message-received-bg-color: #f2f2f2; /* Gris para mensajes recibidos */
        --border-color: #bdc3c7; /* Gris para los bordes */
        --text-color: #2c3e50; /* Texto oscuro */
        --text-light-color: #2c3e50; /* Texto oscuro en mensajes enviados */
        --status-online-color: #27ae60; /* Verde para estado online */
        --status-away-color: #f39c12; /* Amarillo para estado away */
        --status-offline-bg-color: #95a5a6; /* Gris para estado offline */
        --status-offline-text-color: #ffffff; /* Blanco para el texto offline */
        --shadow-color: rgba(0, 0, 0, 0.1);
        --font-family: 'Arial', sans-serif; /* Fuente más neutral */
    }

    body {
        margin: 0;
        font-family: var(--font-family);
        background-color: var(--background-color);
        color: var(--text-color);
        overflow-x: hidden;
    }

    #chat-page {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        min-height: 100vh;
        box-sizing: border-box;
    }
    
    #chat-container {
        display: flex;
        flex-direction: column;
        height: 85vh;
        width: 100%;
        max-width: 900px;
        background-color: var(--chat-bg-color);
        border-radius: 8px;
        box-shadow: 0 6px 20px var(--shadow-color);
        overflow: hidden;
        animation: fadeIn 0.4s ease-in-out;
        box-sizing: border-box;
    }
    
    #chat-header {
        background: rgb(40,118,168);
        background: linear-gradient(159deg, rgba(40,118,168,1) 0%, rgba(90,186,247,1) 36%, rgba(78,166,222,1) 54%, rgba(65,174,245,1) 68%, rgba(27,87,125,1) 100%);
        color: #FFFFFF;
        padding: 14px 18px;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--border-color);
        box-shadow: 0 4px 8px var(--shadow-color);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        position: relative;
    }

    #chat-header .user-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 12px;
        background-color: #ddd;
        object-fit: cover;
        border: 2px solid var(--primary-color);
    }

    #chat-header .username {
        font-size: 18px;
        font-weight: 500;
        color: #FFF;
        flex-grow: 1;
    }

    #chat-header #user-status {
        font-size: 13px;
        padding: 6px 10px;
        border-radius: 12px;
        background: rgb(128,137,143);
        background: linear-gradient(159deg, rgba(128,137,143,1) 0%, rgba(163,176,185,1) 39%, rgba(144,159,168,1) 60%, rgba(169,178,184,1) 76%, rgba(109,117,122,1) 100%);
        color: var(--status-offline-text-color);
        display: inline-block;
        white-space: nowrap;
    }

    .status-online {
        background-color: var(--status-online-color);
    }

    .status-away {
        background-color: var(--status-away-color);
    }

    .status-offline {
        background-color: var(--status-offline-bg-color);
    }

    #chat-log {
        flex: 1;
        padding: 18px;
        overflow-y: auto;
        background-color: #e5e5f7;
        opacity: 0.8;
        background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
        background-size: 20px 20px;
        background-position: 0 0,10px 10px;
        border-bottom: 1px solid var(--border-color);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .message {
        margin-bottom: 10px;
        padding: 12px 16px;
        border-radius: 18px;
        max-width: 75%;
        word-wrap: break-word;
        line-height: 1.5;
        position: relative;
        font-size: 14px;
        background-color: var(--message-received-bg-color);
        box-shadow: 0 2px 6px var(--shadow-color);
        transition: background-color 0.2s, transform 0.2s;
        border: 1px solid var(--border-color);
        display: flex;
        flex-direction: column;
    }

    .message.sent {
        background-color: var(--message-sent-bg-color);
        color: var(--text-light-color);
        align-self: flex-end;
        border: 1px solid var(--primary-dark-color);
    }
    
    .message.received {
        background-color: var(--message-received-bg-color);
        color: var(--text-color);
        align-self: flex-start;
    }
    
    .message:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 10px var(--shadow-color);
    }
    
    .message .message-time {
        font-size: 12px;
        color: #7f8c8d;
        margin-top: 4px;
        align-self: flex-end;
        text-align: right;
    }
    
    #chat-footer {
        padding: 14px;
        border-top: 1px solid var(--border-color);
        background-color: var(--chat-bg-color);
        display: flex;
        align-items: center;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    
    #chat-message-form {
        display: flex;
        width: 100%;
        gap: 10px;
    }
    
    #chat-message-input {
        flex: 1;
        padding: 10px 14px;
        border: 1px solid var(--border-color);
        border-radius: 18px;
        font-size: 14px;
        box-sizing: border-box;
    }
    
    #chat-message-input:focus {
        border-color: var(--primary-dark-color);
        outline: none;
    }
    
    #chat-message-submit {
        padding: 10px 16px;
        background-color: var(--primary-dark-color);
        border: none;
        border-radius: 18px;
        color: white;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.2s, transform 0.4s;
    }
    
    #chat-message-submit:disabled {
        background-color: var(--border-color);
        cursor: not-allowed;
        color: gray;
    }

    #chat-message-submit:enabled {
        background: rgb(38,112,161);
        background: linear-gradient(159deg, rgba(38,112,161,1) 0%, rgba(92,181,238,1) 47%, rgba(41,128,185,1) 75%, rgba(31,101,147,1) 100%);
    }

    #chat-message-submit:hover:enabled {
        background: rgb(38,112,161);
        background: linear-gradient(159deg, rgba(38,112,161,1) 0%, rgba(92,181,238,1) 47%, rgba(41,128,185,1) 75%, rgba(31,101,147,1) 100%);
        transform: scale(1.05);
    }

    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    .spinner {
        border: 4px solid rgba(0,0,0,0.1);
        border-left: 4px solid var(--primary-dark-color);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: spin 1s linear infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    @media (max-width: 768px) {
        #chat-page {
            margin-top: 20px;
        }

        #chat-header {
            font-size: 15px;
        }

        #chat-header .username {
            font-size: 16px;
        }

        .message {
            font-size: 13px;
        }

        #chat-message-input {
            font-size: 13px;
        }

        #chat-message-submit {
            font-size: 13px;
        }
    }
    
    @media (max-width: 480px) {
        #chat-container {
            height: 100vh;
            border-radius: 0;
        }

        #chat-header {
            font-size: 14px;
            padding: 12px;
        }

        #chat-header .username {
            font-size: 14px;
        }

        .message {
            font-size: 12px;
            padding: 10px 14px;
        }

        #chat-message-input {
            font-size: 12px;
            padding: 10px;
        }

        #chat-message-submit {
            font-size: 12px;
            padding: 10px 14px;
        }
    }
</style>
{% endblock %}


{% block layout %}
<div id="chat-page">
    <div id="chat-container">
        <div id="chat-header">
            <img class="user-avatar" src="{{ other_user.avatar }}" alt="Avatar">
            <span class="username">{{ other_user.user.username }}</span>
            <span id="user-status" class="status-offline">Desconectado 🔴</span>
        </div>
        <div id="chat-log">
            <div class="spinner" id="spinner"></div>
        </div>
        <div id="chat-footer">
            <form id="chat-message-form">
                {% csrf_token %}
                <input id="chat-message-input" type="text" name="message" placeholder="Escribe un mensaje..." autofocus>
                <button id="chat-message-submit" type="submit" disabled>Enviar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}


    {% block extra_scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            const chatLog = $('#chat-log');
            const messageInput = $('#chat-message-input');
            const submitButton = $('#chat-message-submit');
            const spinner = $('#spinner');
            const userStatus = $('#user-status'); // Elemento para mostrar el estado del usuario
            let lastMessageCount = 0; // Para seguir el número de mensajes y detectar si hay nuevos
            
            function scrollToBottom() {
                chatLog.scrollTop(chatLog[0].scrollHeight); // Desplaza el contenedor del chat hacia abajo
            }

            // Función para actualizar el estado del usuario
            const updateUserStatus = (status) => {
                $.ajax({
                    url: "{% url 'update_user_status' request.user.username %}",
                    method: "POST",
                    data: {
                        'status': status,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    success: function(response) {
                        // Estado actualizado
                    },
                    error: function(xhr, status, error) {
                        console.error('Error al actualizar el estado:', error);
                    }
                });
            };
            
            // Detectar cambios en la visibilidad de la página
            $(document).on('visibilitychange', function() {
                if (document.hidden) {
                    updateUserStatus('offline');
                } else {
                    updateUserStatus('online');
                }
            });
    
            // Actualizar el estado cada 30 segundos si la página está visible
            setInterval(function() {
                if (!document.hidden) {
                    updateUserStatus('online');
                }
            }, 30000); // 30 segundos
    
            // Inicialmente, actualizar el estado a 'online' cuando se carga la página
            updateUserStatus('online');
    
            // Obtener los mensajes y actualizar el log del chat
            async function fetchMessages() {
                spinner.show(); // Mostrar spinner mientras se obtienen los mensajes
    
                try {
                    const response = await $.get("{% url 'get_messages' other_user.user.username %}");
                    const fragment = document.createDocumentFragment();
    
                    response.forEach(message => {
                        const messageClass = message.sender === '{{ request.user.username }}' ? 'sent' : 'received';
                        const div = document.createElement('div');
                        div.className = `message ${messageClass}`;
                        div.innerHTML = `${message.messagecontent}`;
                        fragment.appendChild(div);
                    });

                    const newMessageCount = response.length;

                    // Solo actualizar el chat y desplazar hacia abajo si hay nuevos mensajes
                    if (newMessageCount > lastMessageCount) {
                        chatLog.empty().append(fragment); // Insertar todos los mensajes de una vez
                        scrollToBottom(); // Desplazar hacia abajo
                        lastMessageCount = newMessageCount;
                    }
                    
                } catch (error) {
                    console.error('Error fetching messages:', error);
                } finally {
                    spinner.hide(); // Ocultar spinner después de cargar los mensajes
                }
            }
    
            // Cargar mensajes al cargar la página
            fetchMessages();
    
            // Refrescar mensajes cada 5 segundos
            setInterval(fetchMessages, 5000);
    
            // Manejar el envío de formularios
            $('#chat-message-form').on('submit', async function(event) {
                event.preventDefault();
    
                const message = messageInput.val().trim();
                if (message) {
                    spinner.show(); // Mostrar spinner mientras se envía el mensaje
                    submitButton.attr('disabled', true); // Deshabilitar botón de enviar
    
                    try {
                        await $.post("{% url 'chat_room' other_user.user.username %}", $(this).serialize());
                        messageInput.val(''); // Limpiar campo de entrada
                        await fetchMessages(); // Obtener mensajes para incluir el nuevo
                        scrollToBottom(); // Desplazar hacia abajo después de enviar un mensaje
                    } catch (error) {
                        console.error('Error sending message:', error);
                    } finally {
                        spinner.hide(); // Ocultar spinner después de enviar y cargar el mensaje
                        submitButton.attr('disabled', !messageInput.val().trim()); // Rehabilitar botón si hay entrada
                    }
                }
            });
    
            // Habilitar o deshabilitar el botón de enviar basado en la entrada
            messageInput.on('input', function() {
                submitButton.prop('disabled', !$(this).val().trim());
            });
    
            // Habilitar botón de enviar si hay entrada y enviar con la tecla Enter
            messageInput.on('keydown', function(event) {
                if (event.key === 'Enter' && !submitButton.prop('disabled')) {
                    event.preventDefault();
                    $('#chat-message-form').submit(); // Enviar formulario
                }
            });
    
            // Comprobar el estado del otro usuario periódicamente y mostrarlo
            setInterval(function() {
                $.get("{% url 'check_user_status' other_user.user.username %}", function(data) {
                    if (data.status === 'online') {
                        userStatus.text('En línea 🟢');
                    } else {
                        userStatus.text('Desconectado 🔴');
                    }
                });
            }, 10000); // Comprobar cada 5 segundos
        });
    </script>   
{% endblock %}