{% extends 'layouts/blank.html' %}

{% block content %} 

    <div class="text-justify mx-auto px-8 py-24 color">
        <h1>Resultado de Búsqueda "{{ query }}"</h1>
        <input type="text" 
        name="search"
        hx-post= "{% url 'search-object' %}"
        hx-target= "resultados_busqueda"
        hx-trigger="keyup changed delay:500ms"
        placeholder="Busca artículos..."
        
        >
        <p></p>
        <button type="submit">Buscar</button>
    </form>
    <ul>
        {% for article in results %}
            <li>{{ article.title }}</li>
        {% empty %}
            <li>No results found.</li>
        {% endfor %}
    </ul>
    </div>


{% endblock %}